#vim swap and gedit
*~
*swp
lnInclude
polyMesh
linux*

#FOAM files
dependencies
dependencyFiles  
dontIncludeDeps  
files  
filesMacros  
includeDeps  
*.o  
localObjectFiles  
objectFiles   
sourceFiles
